@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply min-h-screen bg-primary text-gray-900 relative antialiased [font-family:"Nunito",sans-serif] dark:bg-primary-dark dark:text-gray-100;
}

.theme-loading {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
}
